// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        ht: hold_tap {
            label = "hold_tap";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q       &kp W        &kp E       &kp R         &kp T        &kp Y        &kp U         &kp I       &kp O        &kp P
&ht LGUI A  &ht LCTRL S  &ht LALT D  &ht LSHIFT F  &kp G        &kp H        &ht RSHIFT J  &ht RALT K  &ht RCTRL L  &ht RGUI SEMICOLON
&kp Z       &kp X        &kp C       &kp V         &kp B        &kp N        &kp M         &kp COMMA   &kp DOT      &kp SINGLE_QUOTE
                                     &lt 2 TAB     &lt 1 TAB    &lt 3 ENTER  &lt 2 SPACE
            >;
        };

        num_layer {
            bindings = <
&trans      &kp LEFT_BRACKET      &trans  &kp RIGHT_BRACKET      &kp BACKSPACE    &kp SLASH      &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_9  &kp ASTERISK
&trans      &kp LEFT_PARENTHESIS  &trans  &kp RIGHT_PARENTHESIS  &kp EQUAL        &kp PERIOD     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp MINUS
&caps_word  &kp LEFT_BRACE        &trans  &kp RIGHT_BRACE        &kp DELETE       &kp COMMA      &kp NUMBER_8  &kp NUMBER_6  &kp NUMBER_7  &kp PLUS
                                          &trans                 &trans           &kp BACKSLASH  &kp NUMBER_0
            >;
        };

        symbol_layer {
            bindings = <
&trans          &kp DOT       &kp ASTERISK     &kp AMPERSAND  &kp PLUS         &trans  &kp BACKSPACE    &trans         &kp DELETE  &trans
&kp COLON       &kp QUESTION  &kp EXCLAMATION  &kp SLASH      &kp PIPE         &trans  &kp RIGHT_SHIFT  &kp RIGHT_ALT  &kp RCTRL   &trans
&kp UNDERSCORE  &kp GRAVE     &kp TILDE        &kp PERCENT    &kp AT_SIGN      &trans  &trans           &trans         &trans      &trans
                                               &kp EQUAL      &kp BACKSLASH    &trans  &trans
            >;
        };

        navigation_layer {
            bindings = <
&sys_reset  &bootloader  &trans     &trans      &trans             &trans      &kp HOME        &kp UP_ARROW    &kp END          &kp PAGE_UP
&kp LC(Z)   &kp LC(X)    &kp LC(C)  &kp LC(V)   &kp PRINTSCREEN    &caps_word  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp PAGE_DOWN
&trans      &kp LC(U)    &kp LC(D)  &trans      &trans             &kp INSERT  &kp HOME        &trans          &trans           &trans
                                    &kp INSERT  &kp DELETE         &trans      &kp BACKSPACE
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                        &trans  &trans    &trans  &trans
            >;
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                        &trans  &trans    &trans  &trans
            >;
        };
    };
};
